<%- include ./partial/header.ejs %>
  <title>Add Student</title>
</head>
<body>
    <form method = "post" >
        <p>First Name</p>
          <input type="text" name= "first_name" placeholder="Enter first name">
          <p>Last Name</p>
          <input type="text" name = "last_name" placeholder="Enter last name">
          <p>Email</p>
          <input type="email" name="email" placeholder="Enter email"></br>
          <button type="submit">Add Student</button>
      </form>
  
</body>
</html>