<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/menu %> 
    <div class="container container-fluid form-student">
        <% if(info) { %>
            <div class="alert alert-danger"> <%= info %></div> 
        <% } %>
        
        
        <h3> Add New Student </h3>
        <form method="POST">
            <div class="form-group">
                <label>First Name</label>
                <input name="first_name" type="text" class="form-control" placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input name="last_name" type="text" class="form-control" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="text" class="form-control" placeholder="Enter email">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
</body>
</html>