<!DOCTYPE html>

<head>

</head>
<body>
    <form method='post' action='/student/add'>
        first name:  <input type='text' name='firstName'><br>
        last name: <input type='text' name='lastName'><br>
        email: <input type='text' name='email'><br>
        <input type='submit'>
    </form>    
</body>
</html>