<!DOCTYPE html>
<html lang="en">
<title>Add Student</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    h5,
    input[type="submit"] {
        background-color: red;
        border: 10;
        color: white;
        padding: 5px 32px;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }
</style>

<body>

    <!-- Navbar -->
    <%- include ../partials/navbar%>

        <div>
            <form action="/student/add" method="post">
                First name:
                <br>
                <input type="text" name="first_name" placeholder="First Name">
                <br> Last name:
                <br>
                <input type="text" name="last_name" placeholder="Last Name">
                <br> Email:
                <br>
                <input type="text" name="email" placeholder="Email">
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <% if (errors){%>
            <% JSON.parse(errors).errors.forEach(function(err){%>
                <h5>
                    <%=err.message%>
                </h5>
                <br>

                <%})%>

                    <%}%>

                        <!-- Footer -->
                        <%- include ../partials/footer%>
</body>

</html>