<!DOCTYPE html>
<html lang="en">
<title>Give Score Student Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
        background-color: red;
        border: 10;
        color: white;
        padding: 10px 20px;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }
</style>

<body>

    <!-- Navbar -->
    <%- include ../partials/navbar%>

        <div class="w3-container">
            <h2>Give Score</h2>
            <form action="/subject/<%=data.StudentId%>/give-score" method="post"> Score:
                <br>
                <input type="number" name="score" value="<%=data.score%>">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>


        <!-- Footer -->
        <%- include ../partials/footer%>
</body>

</html>