<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Subject</h1>
    <ul>
      <%data.forEach(function(subject){%>
      <li>
        Subject Name : <%=subject.subjectName %>
        <br>
        <a href="subject/edit/<%=subject.id%>">Edit</a>
        <a href="/subject/<%=subject.id%>/enrolled-students">Enrolled Student</a>
        <br>
        <a href="subject/delete/<%=subject.id%>" onclick="return confirm('Apa anda yakin ingin menghapus data ini?')">Delete</a>
      </li>
      <br>
      <%})%>
      <br>
      <a href="subject/add">Add Subject</a>
    </ul>
  </body>
</html>