<%- include ../partials/header.ejs %>
    <div class="container">
            <h1><%= data.name %></h1>


            <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th> 
                            <th scope="col">Score</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.Students.length; i++){ %>
                            <tr>
                                <td><%-data.Students[i].first_name + " " + data.Students[i].last_name %></td>
                                <% if(data.Students[i].score) {%>
                                    <td><%-data.Students[i].score %></td>
                                <% } else{%>
                                    <td><a href="">Give Score</a></td>
                                <% }%>
                            </tr>
            
                        <% } %>
                    </tbody>
                </table>    

    </div>

    </body>
</html>